@import url('https://fonts.cdnfonts.com/css/cooper-hewitt');
@import url('https://fonts.cdnfonts.com/css/socilo');
@import url('https://fonts.cdnfonts.com/css/fatsansround');
/* 
font-family: 'Socilo', sans-serif; */


* {
    font-family: 'Cooper Hewitt', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
}


/* NAV */


.menu {
    display: flex;
    flex-direction: row;
    width: 90vw;
    background-color: white;
    height: 10vh;
    margin: 0;



}

.menu ul {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;


    list-style: none;
}


.menu ul li {

    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.142);
}

.menu ul li:nth-of-type(1) {
    box-shadow: none;
}

.menu ul a {

    text-decoration: none;
    text-emphasis: none;

}

#logo {
    width: 10%;
    height: 100%;

    background-image: url(./images/java.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.btn {
    height: 50%;
    width: 10%;
    color: blue;
    background: linear-gradient(to right, white, rgba(84, 84, 251, 0.586));
    border: solid blue 1px;
    font-size: 1.3vw;
    font-weight: 900;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 1s, height 1s;

}



.btn:hover {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.142);
    height: 55%;
    width: 12%;


}


/* SECCIONES */

.bold {
    color: blue;
    font-weight: 900;
}




#index {



    width: 100vw;
    height: 70vh;


    background-image: url(./images/image-from-rawpixel-id-6117897-original.png);

    background-position: center;
    background-repeat: repeat-x;
    background-size: 35%;

    letter-spacing: 0.7vh;

    margin-top: 16vh;
    margin-left: 0vw;
    margin-bottom: 15vh;
    margin-right: 0;

   


    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5vw;


}

#index .parte1 {



    color: blue;
    font-size: 1.6vw;
    font-weight: 900;
    position: absolute;
    border-radius: 5px;
    top: 40vh;
    left: 6vw;
    padding: 1.5vh;
    background-color: #EEA1D5;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);


}

#index .parte1::before {
    border: 25px solid #EEA1D5;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -48px;
    right: 15px;
    
}


#index .parte12 {



    color: blue;
    font-size: 1.6vw;
    font-weight: 900;
    position: absolute;
    top: 68vh;
    left: 19vw;
    border-radius: 5px;

    padding: 1.5vh;
    background-color: #EEA1D5;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);

}

#index .parte12::before {
    border: 25px solid #EEA1D5;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -44px;
    left: 25px;
    transform: rotate(8deg);

}



#index .parte2 {
    color: rgb(87, 87, 243);
    font-size: 1.5vw;
    font-weight: 900;
    position: absolute;
    top: 40vh;
    left: 45vw;
    border-radius: 5px;

    padding: 1.5vh;
    background-color: #c6c4f7;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);


}


#index .parte2::before {
    border: 25px solid #c6c4f7;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -44px;
    left: 25px;
    transform: rotate(8deg);

}

#index .parte3 {
    color: rgba(238, 54, 54, 0.938);
    font-size: 1.2vw;
    font-weight: 900;
    position: absolute;
    top: 70vh;
    left: 70vw;

    padding: 1.5vh;
    background-color: #EEA1D5;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
    border-radius: 5px;


}

#index .parte3::before {
    border: 25px solid #EEA1D5;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -44px;
    right: 25px;
    transform: rotate(-8deg);

}

.init {
    color: blue;
    
    font-weight: 900;
}

.code {
    font-style: normal;
    font-weight: 900;
    display: block;
    text-align: center;
    background-color: #C6C4F7;
    color: white;
    margin: 1em;
    padding: 1em;
    border-radius: 5em;
    word-wrap: break-word;
    letter-spacing: 0.2vw;
    word-spacing: 0.3vw;
}



/* MENU VERTICAL */
.menu-wrap {
    background-color: #000;
    width: 50px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
}

.menu2 span {
    height: 20vh;;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 0.5vh;
   
  
   
    


}

.desplegable{
    
    
    background-image: url(./images/icons8-menu-50.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity:0.6;
    
}



.menu2 span a {
    color: #fff;
    line-height: 14px;
    font-size: 18px;
    transform: rotate(270deg);
    text-decoration: none;
    font-family: 'FatSansRound', sans-serif;
    visibility: hidden;
    opacity: 0;
   
   
    
    
}

span .hidden{
    transition: all 1s ease;

}

.menu2{
    transition: all 1s ease;

}

.menu2:hover >span .hidden{
    visibility: visible;
    opacity: 0.6;
  
   
}

.menu2:hover > .desplegable{
  
    opacity: 1;
  
   
}

.menu2 span .hidden:hover{
    opacity:1;
}


/* SECCION TOMCAT */

section:nth-of-type(2) {
    background-color: #EEEEEE;
    /* height: 190vh; */

}

#Tomcat::before {
    content: " ";
    position: absolute;
    width: 80vw;
    height: 0.3em;

    background-color: blue;
    margin-left: 20vw;


}

#Tomcat {



    width: 100vw;
}

#Tomcat h1 {
    padding-top: 1em;
    margin-left: 18.5vw;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3em;
    color: blue
}


.listatom {
    list-style-type: none;

    font-size: 1.5em;
    word-spacing: 0.2em;

    margin-top: 3vh;
    margin-left: 25vw;
    counter-increment: name;

}

.listatom li {
    counter-increment: detail-counter;
    
    border-bottom: dashed black 0.1em;
    padding: 2rem;
}

.listatom li:nth-last-of-type(1) {
    border: none;
}




.listatom li::before {
    content: counter(detail-counter);


    margin-right: 2em;
    float: left;
    font-weight: 900;

    background-color: #C6C4F7;
    color: blue;
    border-radius: 0.3em;

    padding: 0.4em 0.6em 0.4em 0.6em;


}

.imagen-tom {
    float: left;
    width: 10vw;
    height: 15vh;
    margin-left: 7vw;
    margin-top: 15vh;
    background-color: #C6C4F7;
    border-radius: 0.3em;
    padding: 1em;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);

}



/* SECCION GLASSFISH */

section:nth-of-type(3) {
    background-color: #e4e2e2;
    /* height: 230vh; */

}


#Glassfish::before {
    content: " ";
    position: absolute;
    width: 80vw;
    height: 0.3em;


    background-color: blue;
    margin-left: 0vw;


}

#Glassfish {



    width: 100vw;
}

#Glassfish h1 {
    padding-top: 1em;
    margin-left: 18.5vw;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3em;
    color: blue
}


/* SECCION WILDFLY */

section:nth-of-type(4) {
    background-color: #EEEEEE;
    /* height: 180vh; */

}

#Wildfly::before {
    content: " ";
    position: absolute;
    width: 80vw;
    height: 0.3em;

    background-color: blue;
    margin-left: 20vw;


}

#Wildfly h1 {
    padding-top: 1em;
    margin-left: 18.5vw;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3em;
    color: blue;

}

#Wildfly p{
    padding: 1vh;
}




/* SECCION FAQ */

section:nth-of-type(5) {
    background-color: #C6C4F7;
    padding-bottom: 5rem;
    

}

#faq::before {
    content: " ";
    position: absolute;
    width: 80vw;
    height: 0.3em;

    background-color: rgb(0, 0, 0);
    margin-left: 20vw;


}

#faq h1 {
    padding-top: 1em;
    margin-left: 18.5vw;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3em;
    color: rgb(0, 0, 0);
    margin-bottom: 5vh;

}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    font-size: 3vh;
}

.q{
    background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: 900;
    padding: 2vh;
    width: 60vw;
    cursor: pointer;
}

.h{
  display:none;
  max-width: 60vw;
  margin: 3vh;
  padding: 2vh;
  font-weight: 700;
  
}

.q:active >.h{

    display:block;

}




/* FOOTER */

#about{
    background-color: #F5F5F5;
   
   

}

#about::before {
    content: " ";
    position: absolute;
    width: 80vw;
    height: 0.3em;

    background-color: rgb(0, 0, 0);
    margin-right: 20vw;


}

#about h1 {
    padding-top: 1em;
    margin-left: 18.5vw;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3em;
    color: rgb(0, 0, 0);
    margin-bottom: 5vh;
    

}

.footcont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 70vw; 
    margin:auto;
}

.image_author{
    width: 30rem;
    height: 15rem;
    background-image: url(./images/me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin: 3vw;
    
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}



.description{
    font-size: 2vh;
}

.redes{
    display: flex;
    justify-content: flex-start;
    
}

.linkedin{
    width: 2rem;
    height: 2rem;
    background-image: url(./images/linkedin.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
}

.github{
    width: 1.8rem;
    height: 1.8rem;
    background-image: url(./images/github.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;

}

/* ANIMACIONES */






.trans{
animation: trans 1s linear infinite;
}

@keyframes trans {
    0% {
        transform: translateY(0vh);
    }

    35% {
        transform: translateY(-2vh)
    }


    75%{
        transform: translateY(2vh)
    }

    100% {
        transform: translateY(0vh)
    }
}


/* RESPONSIVE */

@media (max-width: 1300px){

    .imagen-tom{
        display:none;
    }

}


@media (max-width: 800px){

    .menu{
        display:none;
    }

    #index{
        display:none;
    }

    .image_author{
        display: none;
    }

}



/* CODIGO TERMINAL */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.terminal {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  max-width: 99%;
  width: 99%;
  min-height: 200px;
  margin-top: 25px;
  background-color: #282828;
  color: #b4c4c6;
  padding: 10px;
  border-radius: 0 0 7px 7px;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 30px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
  top: 150px;
  display: block;
  margin-top: 3vh;
  font-size: 1vw;
}
.terminal::before {
  border-radius: 7px 7px 0 0;
  position: relative;
  font-size: 0.4vw;
 
  content: attr(data-content);
  display: block;
  
  text-overflow: ellipsis;
  /* padding: 0 80px; */
  white-space: nowrap;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #4c3436;
  font-size: 1em;
  background: linear-gradient(0deg, #d8d8d8, #ececec);
  top: -25px;
  left: -10px;

}

.terminal p {
  margin: 0;
  
}
.terminal p::before {
  color: #5ed7ff;
  content: '~$ ';
}